mm-header
  .container-fluid.container-lg
    .row
      .col
        mm-logo.py-2
          a(href="/")
            | PixelRPG
      .col-auto
        .row.h-100.d-flex.align-items-end.justify-content-center
          p hello from header