@font-face{
  font-family: Ark-Pixel-10px;
  src: url(fonts/ark-pixel-10px-latin.woff2)
}
@font-face{
  font-family: Ark-Pixel-12px;
  src: url(fonts/ark-pixel-12px-latin.woff2)
}
@font-face{
  font-family:Ark-Pixel-16px;
  src: url(fonts/ark-pixel-16px-latin.woff2)
}
