extends ../layouts/main.pug

block content
  home-page
    .container-fluid.my-5
      .row
        .col-12
          h1 Hello World!
          p.h2 Whatever you are doing here, what you see here has just been started to be crafted and it is unusable. But feel free to check back later or check out the <a href="https://github.com/PixelRPG/platform">source code</a> if you like.
          hr.border-4
      .row
        each game in games
          .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
            if game.attributes && game.attributes.gallery.data.length && game.attributes.gallery.data[0].attributes
              img.img-fluid.w-100(rv-src=`'${game.attributes.gallery.data[0].attributes.url}' | strapi`)
            h2.h4.my-1= game.attributes.name
            p= game.attributes.summary